@use "/src/utils/style/mediaQuery.scss" as media;

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    display: block;
    opacity: 1;
  }

  to {
    display: block;
    opacity: 0;
  }
}

.layout {
  width: 100%;
  height: 1100vh;
  background-color: #000;

  @include media.media-breakpoint(mobile) {
    height: 100%;
  }
}

.header {
  position: fixed;
  width: 100%;
  display: none;
  align-items: center;
  height: 70px;
  box-sizing: border-box;
  border-bottom: 1px solid #ffffff;
  background-color: #000000;
  z-index: 20;

  @include media.media-breakpoint(mobile) {
    display: flex;
    justify-content: space-between;
    height: 60px;
    transition: 0.3s;
    transform: translateY(0);
  }

  &--hidden {
    @include media.media-breakpoint(mobile) {
      transform: translateY(-100%);
    }
  }

  &--visible {
    display: flex;
  }

  &__logo {
    width: 240px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ffffff;

    @include media.media-breakpoint(mobile) {
      width: auto;
      padding: 0 10px;
      border: none;
    }
  }

  &__progress {
    flex: 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    @include media.media-breakpoint(mobile) {
      display: none;
    }
  }

  &__pre-reserve {
    width: 240px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    gap: 6px;
    padding: 0 60px;
    border: none;
    border-left: 1px solid #fff;
    transition: 0.2s linear;
    cursor: pointer;
    
    @include media.media-breakpoint(mobile) {
      width: auto;
      border: none;
      padding: 0 20px;
      font-size: 16px;
      font-weight: 600;
    }

    svg {
      width: 14px;
      height: auto;
      flex-shrink: 0;
      fill: #fff;
    }

    &:hover {
      background-color: #fff;
      color: #000;

      svg {
        fill: #000;
      }
    }
  }
}

.progress {
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;

  &--selected {
    font-weight: 800;
  }
}

.content {
  box-sizing: border-box;
  overflow: hidden;

  &__section {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include media.media-breakpoint(mobile) {
      position: relative;
      display: block;
    }

    &--open {
      display: block;
      animation: fade-in 0.5s linear;

      @include media.media-breakpoint(mobile) {
        animation: none;
      }
    }

    &--close {
      animation: fade-out 0.5s linear;

      @include media.media-breakpoint(mobile) {
        animation: none;
      }
    }
  }
}
