$media: (
  mobile: 768px,
  tablet: 1024px
);

@mixin media-breakpoint($breakpoint) {
  @each $breakpointName, $size in $media {
    @if $breakpoint == $breakpointName {
      @media screen and (max-width: $size) {
        @content;
      }
    } @else if type-of($breakpoint) == "number" and unit($breakpoint) == "px" {
      @media screen and (max-width: $breakpoint) {
        @content;
      }
    }
  }
}
