* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;

}

@media screen and (min-width: 1024px) {
  /* 타블렛 */
  * {
    font-size: 13px;
  }
  .container{
    padding: calc(20px + (100 - 20) * ((100vw - 1024px) / (1920 - 1024))) calc(20px + (230 - 20) * ((100vw - 1024px) / (1920 - 1024)));
    
    .descContainer{
    justify-content: space-between;
    align-items: center;
  }
}

}



@media screen and (max-width: 1024px) {
  /* 타블렛 */
  * {
    font-size: 13px;
  }
  .container{
    padding:20px;

    .descContainer{
    justify-content: space-between;
    align-items: center;
  }

 
    
  }
 

}
@media screen and (max-width: 1055px) {
  /* 타블렛 */
  * {
    font-size: 13px;
  }

  .container{

    .descContainer{
   
    justify-content: center;
    align-items: center;
    gap:32px;
    
      }
  }

}

@media screen and (max-width: 375px) {
  
  * {
    font-size: 8px;
  }

  .container{

    .descContainer{
   
    justify-content: center;
    align-items: center;
    gap:32px;
    
      }

    .contentsWrapper{
      
      .mainContents{
        text-align: center !important;
      }
      .mainContents2{
        text-align: center !important;
       
      
      }
    }
    .registerFormContainer{
    
  
      .input{
        width:100% !important;
      }
    }
  }
  

}




.container {
  width: 100%;
  height: auto;
  // padding: calc(20px + (100 - 20) * ((100vw - 1024px) / (1920 - 1024))) calc(20px + (230 - 20) * ((100vw - 1024px) / (1920 - 1024)));

  .backNav {
    display: none;
  }

  .contentsWrapper {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;

    .mainContents {
      text-align: end;
      margin-bottom: 60px;
      
      h1 {
        font-weight: 500;
        font-size: 4rem;
      }
      .lineBreak {
        font-weight: 500;
        font-size: 4rem;
      }
    }
    .mainContents2 {
      h1 {
        font-weight: 500;
        font-size: 4rem;
      }
    }
  }

  .descContainer {
    width: 100%;
    height: 60%;
    display: flex;
    padding-top: 3rem;
    flex-wrap: wrap;
    align-items: center; 
    gap: 3rem;
    margin-bottom: 5rem;
    

    .descWrapper {

      .betaActiveWrapper {
        width:100%;
       

        .header {
        font-weight: 700;
        margin-bottom: 1.2rem;
        span{
          font-size: 1.6rem;
        }
      }   

        .contentsWrapper {
          
          display: flex;
          gap: 0.5rem;
          

          span {
            font-size: 1.5rem;
          }
        }
        .activeWrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          padding-left: 1rem;
          gap: 0.5rem;
        }
      }
      .betaBenefitsWrapper {
        .header {
          
          font-weight: 700;
          margin-bottom: 1rem;
          font-size: 1.6rem;
        }
        .activeWrapper {
          width: 100%;
          display: flex;
          flex-direction: column;

          margin-left: 2rem;
          gap: 0.5rem;
          font-size: 1.6rem;
          li {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .registerFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .inputsForm {
      display: flex;
      width:100%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
    }

    .header {
          display: flex;
          justify-content: start;
          width:100%;
          
          font-weight: 700;
          margin-bottom: 1rem;
          
          max-width:290px;
          span{
              text-align: start;
              
              font-size: 1.2rem;
          }
        }

   
    .input {
    
      text-align: center;
      width: 34rem;
      max-width: 100%;
      height: 3.4rem;
      border-radius: 30px;
      margin-bottom: 1.8rem;
      border: 1px solid rgb(54, 53, 53);
      font-size: 1.5rem;
    }
    .error {
      border-color: red;
      font-size: 1.2rem;
    }
    .checkoxWrapper {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      .checkbox {
        width: 15px;
        height: 15px;
        accent-color: black;
      }

      .termsButton {
        font-size: 1.5rem;
        color: gray;
        text-decoration: underline;
        cursor: pointer;
        display: inline;
        border: none;
        background-color: white;
      }
    }
  }
  .buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .button {
      width: 15rem;
      padding: 1rem;
      border-radius: 50px;
      font-size: 1.5rem;
      background-color: black;
      color: white;
    }
  }
}

@media (max-width: 768px) {
  * {
    font-size: 7px;
  }
  .container {
    padding: 60px 30px 30px 30px;
    position: relative;
    .diver {
      display: none;
    }

    .backNav {
      display: block;
      position: absolute;
      top: 15px;
      left: 15px;
      border: none;
      background-color: white;
      cursor: pointer;
    }

    .contentsWrapper {
      height: 15%;

      

      .mainContents {
        padding-left: 3px;
        padding-right: 3px;

        margin-bottom: 10px;
        border-left: 2px solid black;
        border-right: 2px solid black;

      }
      .mainContents2 {
        text-align: start;
        padding-left: 2rem;
      
        h1 {
          font-weight: 700;
          
        }
      }
    }
     .descWrapper{
       
         height: 160px;
        margin-bottom: 6rem;
      
      }
    .descContainer {
      height: auto;
      display: block; 
   
    
     
    }

    .betaActiveWrapper {
      width:100%;
      height: 100%;
     
      padding: 30px 2.7rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap:10px;

      .header{
       max-width: 330px;
       min-width: auto;
        font-size: 3rem;
       
        

        span{
        
          font-size: 2rem !important;
        }
        
      }
      .contentsWrapper{
        max-width: 330px;
        min-width: auto;
        span{
          font-size: 1.8rem !important;
        }
      }

      
      .activeWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    
        
      }
    }

    .registerFormContainer {
      margin-bottom: 5rem;
      .header {
        display: none;
      }
      .input {
        width: 60%;
        height: 6rem;
        font-size: 2rem;
      }
    }
  }
  .betaBenefitsWrapper {
    display: none;
  }


}
